*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
section{
    text-align: center;
    width: 40%;
    background-color: lightgreen;
}
input{
    width: 30%;
    padding: 1rem 0;
    border-radius: 10px;
    border: 1px solid gray;
}
select{
    width: 30%;
    padding: 1rem 0;
    border-radius: 10px;
}
button{
    padding: 1rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 2rem 1rem ;
}
h1{
    color: white;
    background-color: coral;
    margin-bottom: 1rem;
}